<div class="page-container">
  <h1>Create a Stat</h1>

  <%= form_for(@task) do |f| %>
    <ul class="list error-list">
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

    <fieldset>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </fieldset>

    <%= f.submit "Create Glue Stat", class: "button" %>
  <% end %>
</div>
