<h1>Create a Glue Stat</h1>

<%= form_for(@task) do |f| %>
  <p>The form contains <%= pluralize(@task.errors.count, "error") %>.</p>
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset>
    <%= f.label :time_completed %>
    <%= date_field(:task, :time_completed) %>
  </fieldset>

  <%= f.submit "Create GlueStat", class: "button" %>
<% end %>
